@import url('https://fonts.googleapis.com/css?family=Poppins:wght@400;500;600;700; 800&display=swap');

    body {
        margin: 0 auto;
        background-color:#782bc4;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        max-width: 2000px;
    
    }


    .section2 {
        max-width: 2000px;
        margin: 0;
        background-color: white;
        padding: 60px 60px;
        width: 100%;
        min-height: 100vh;
        box-sizing: border-box;
        align-items: stretch; 
        display: flex;
        p{
            align-content: center;
            align-items: center;
            padding: 20px;
        }
    }

    .navbar ul {
        list-style: none;
        display: flex;
        justify-content: center ;
        padding: 20px;
        margin: 0;
        background-color: transparent;
    }

    .navbar ul li {
        margin: 0 20px;
    }

    .navbar ul li a {
        color: rgb(235, 234, 234);
        text-decoration: none;
        font-weight: 400;
        position: relative;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;

    }

    .navbar ul li a:hover {
        color: white;
    }

    section .metaverso {
        display: flex;
        align-items: center;
        padding: 50px;
        flex-wrap: wrap;

    }

    .texto {
        flex: 1;
        max-width: 50%;
        text-align: justify;
    }
    .texto p {
        color: white;
        font-size: 18px;
        margin-top: 30px;
        line-height: 1.6;
        text-align: justify;
    }

    .texto h1 .negro {
        font-size: 70px;
        color: rgb(0, 0, 0);
        font-weight: 900;
        text-align: justify;
    }

    .texto h1 .blanco {
        font-size: 70px;
        font-weight: 900;
        color: white;
        text-align: justify;
    }
    h1 {
        line-height: 1.2;
    }

    .imagen {
        flex: 1;
        display: flex;
        float: right;
        width: 300px;
        height: 100%;
        object-fit: cover;
    }

    El_metaverso{
        font-size: 30px;
        font-weight: 500;n
        text-align: justify;
    }
    footer{
        text-align: justify;
        font-weight: 500;
        background-color: #e2daea;
}






